Options -Indexes
Options -ExecCGI
AddHandler default-handler .php .php5 .php4 .php3 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
php_flag engine off
<FilesMatch "\.(php|phtml|php3|php4|php5|pl|py|jsp|asp|sh|cgi|htaccess|htpasswd|ini)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
